body{
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    margin:0;
    background-color: #eeeeee;
}

.navbar-default {
    background-color: #232f3e;
    padding:10px;
}

.jumbotron {
    padding: 15px 15px;
    border:1px solid #232f3e;
    border-radius: 0.3em;
    margin:0 15px 15px 15px;
}

h1 a{
    color:white;
    text-decoration:none;
    font-style:oblique;
}

#navList{
    display:flex;
    list-style: none;
}

.navItem{
    margin:0 10px;
}

.search_area{
    padding:20px;
}

.search_area form{
    text-align:center;
}

#search_box{
    font-size:18px;
    width:30%;
    height:30px;
    border:1px solid #f90;
    border-radius:0.2em;
    color: #232f3e;
}

#search_btn{
    font-size:15px;
    height:33px;
    border-style:none;
    background-color: #f90;
    color:#232f3e;
    vertical-align: top;
    border-radius:0.2em;
}

#btn{
    font-size:16px;
    border-style:none;
    color:#232f3e;
    border-radius:0.2em;
    border:1px solid #232f3e;
    margin:0 5px;
    padding:5px 30px;
    cursor:pointer;
}

#btn2{
    font-size:16px;
    border-style:none;
    color:#232f3e;
    border-radius:0.2em;
    border:1px solid #232f3e;
    margin:10px auto;
    cursor:pointer;
    padding:5px 30px;
}

#input_box{
    font-size:18px;
    width:90%;
    height:40px;
    border:1px solid #232f3e;
    border-radius:0.2em;
    color: #232f3e;
}

#input_form{
    font-size:18px;
    width:80%;
    height:40px;
    border:1px solid #232f3e;
    border-radius:0.2em;
    color: #232f3e;
}

#input_area{
    font-size:18px;
    width:90%;
    border:1px solid #232f3e;
    border-radius:0.2em;
    color: #232f3e;
}

.input_item{
    margin-top:10px;
    margin-bottom:10px;
}

.item_name{
    padding:0 10px;
    font-weight:bold;
}

.block{
    display:block;
}

.none{
    list-style: none;
}

.container-fluid{
    display: flex;
}

.none{
    color:white;
    text-decoration:none;
    padding:10px;
    border:1px solid white;
    margin-right:20px;
    display: table;
    margin-top:15px;
}

h1{
    margin-right:auto;
}

.center{
    text-align: center;
}

.detail_item{
    padding:15px 30px;
    background-color: #eeeeee;
    font-size:18px;
    display:flex;
}

.detail_btns{
    display: flex;
    justify-content: center;
    margin:10px 0;
}

.view_items{
    margin-left:100px;
}

.form_items{
    text-align: center;
    margin:0 20%;
}

/* index.php */

.bookmarkList {
    padding: 15px 15px;
    border:1px solid #232f3e;
    border-radius: 0.3em;
    margin:0 15px 15px 5px;
    text-align: center;
    
}

.bookArea{
    width:220px;
    margin:0 20px 30px 20px;
    display: inline-block;
}

.listTitle{
    font-weight: bold;
    font-size:20px;
}

.itemTitle{
    font-weight: bold;
    font-size:20px;
    text-align: center;
}

.bookNum{
    margin-left:10px;
}

footer{
    text-align: center;
    color:#232f3e;
    font-size:16px;
    padding:10px 0;
}

.bookImg{
    width:80%;
}

.book_info{
    margin-left:5%;
    width:60%;
    word-wrap:break-word;
}

.editImg{
    width:100px;
}

.edit_fileName{
    font-size:14px;
}

.right{
    text-align: right;
    margin-right:15%;
}